<div class="flex">
    <div>
        <h2>Login</h2>
        <form action="" id="login-form">
            <label for="login-username">username:</label>
            <input type="text" id="login-username" />
            <label for="login-password">password:</label>
            <input type="password" id="login-password" />
            <button>Login</button>
        </form>
    </div>
    <div>
        <h2>Signup</h2>
        <form action="" id="signup-form">
            <label for="signup-username">username:</label>
            <input type="text" id="signup-username" />
            <label for="signup-password">password:</label>
            <input type="password" id="signup-password" />
            <button>Signup</button>
        </form>
    </div>
</div>
<script src="/js/auth.js"></script>